[data-theme],html {
  --app-context-menu-bg: var(--app-elevation-1);
  --app-context-menu-color: var(--app-text-01);
  --app-context-menu-hover-bg: var(--app-elevation-1-hover);
  --app-context-menu-active-bg: var(--app-elevation-1-active);
}

.context-menu {
  background-color: rgba(var(--app-context-menu-bg),1);
  border-radius: 4px;
  color: rgba(var(--app-context-menu-color),1);
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  z-index: 1000;
}

.context-menu-separator {
  border-top: 1px solid rgba(var(--app-context-menu-separator-color),1);
  display: block;
  margin: 8px 12px;
}

.context-menu-item {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 1.23077;
  min-width: 170px;
  padding: 8px 12px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  &.active {
    background-color: rgba(var(--app-context-menu-active-bg),1)
  }
  &:hover {
    background-color: rgba(var(--app-context-menu-hover-bg),1);
    cursor: pointer;
    text-decoration: none
  }
}