html {
  --app-dark-gray-0: 11,18,25;
  --app-dark-gray-1: 16,26,34;
  --app-dark-gray-2: 23,35,46;
  --app-dark-gray-3: 30,44,57;
  --app-dark-gray-4: 33,49,63;
  --app-dark-gray-5: 36,52,66;
  --app-dark-gray-6: 44,60,75;
  --app-gray-0: 51,70,87;
  --app-gray-1: 60,84,105;
  --app-gray-2: 90,118,143;
  --app-gray-3: 112,139,164;
  --app-gray-4: 140,167,190;
  --app-gray-5: 166,189,213;
  --app-gray-6: 179,199,219;
  --app-light-gray-0: 198,208,217;
  --app-light-gray-1: 206,216,225;
  --app-light-gray-2: 215,223,231;
  --app-light-gray-3: 223,230,237;
  --app-light-gray-4: 232,237,243;
  --app-light-gray-5: 243,245,248;
  --app-light-gray-6: 246,247,249;
  --app-blue-0: 23,61,141;
  --app-blue-1: 31,80,186;
  --app-blue-2: 36,88,199;
  --app-blue-3: 51,111,238;
  --app-blue-4: 56,121,242;
  --app-blue-5: 66,139,249;
  --app-blue-6: 98,161,255;
  --app-green-0: 15,100,70;
  --app-green-1: 21,120,85;
  --app-green-2: 20,131,92;
  --app-green-3: 11,162,100;
  --app-green-4: 11,176,109;
  --app-green-5: 19,193,123;
  --app-green-6: 44,232,156;
  --app-red-0: 76,40,50;
  --app-red-1: 135,32,44;
  --app-red-2: 157,43,56;
  --app-red-3: 187,51,64;
  --app-red-4: 213,54,69;
  --app-red-5: 236,71,86;
  --app-red-6: 255,117,132;
  --app-yellow-0: 44,45,40;
  --app-yellow-1: 55,53,39;
  --app-yellow-2: 95,79,36;
  --app-yellow-3: 139,108,33;
  --app-yellow-4: 183,138,30;
  --app-yellow-5: 250,182,25;
  --app-yellow-6: 254,217,132;
  --app-gold: 191,166,37;
  --app-platinum: 180,177,190;
  --app-black: 0,0,0;
  --app-white: 255,255,255;
  --app-elevation-shadow-0: 0 0 0 rgba(var(--app-black),0.8);

  --app-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --app-font-family-monospace: monospace;
  --app-icon-transition: none
}