[data-theme=dark],html {
  --app-text-01: var(--app-gray-6);
  --app-text-02: var(--app-gray-5);
  --app-text-03: var(--app-gray-4);
  --app-text-04: var(--app-gray-3);
  --app-link: var(--app-blue-6);
  --app-link-hover: var(--app-blue-5);
  --app-negative: var(--app-red-6);
  --app-negative-hover: var(--app-red-5);
  --app-positive: var(--app-green-6);
  --app-positive-hover: var(--app-green-5);
  --app-warning: var(--app-yellow-6);
  --app-warning-hover: var(--app-yellow-5);
  --app-base-00: var(--app-dark-gray-2);
  --app-base-01: var(--app-dark-gray-3);
  --app-base-02: var(--app-dark-gray-5);
  --app-base-03: var(--app-dark-gray-6);
  --app-base-04: var(--app-gray-0);
  --app-base-05: var(--app-gray-1);
  --app-base-06: var(--app-gray-2);
  --app-base-07: var(--app-gray-3);
  --app-base-08: var(--app-gray-4);
  --app-elevation-1: var(--app-dark-gray-4);
  --app-elevation-1-hover: var(--app-dark-gray-6);
  --app-elevation-1-active: var(--app-dark-gray-6);
  --app-base-primary: var(--app-blue-5);
  --app-base-accent: var(--app-blue-3);
  --app-base-accent-hover: var(--app-blue-4);
  --app-base-accent-active: var(--app-blue-2);
  --app-base-secondary: var(--app-gray-0);
  --app-base-secondary-hover: var(--app-gray-1);
  --app-base-secondary-active: var(--app-gray-0);
  --app-base-red: var(--app-red-2);
  --app-base-red-hover: var(--app-red-3);
  --app-base-red-active: var(--app-red-1);
  --app-base-green: var(--app-green-3);
  --app-base-green-hover: var(--app-green-4);
  --app-base-green-active: var(--app-green-2);
  --app-base-yellow: var(--app-yellow-4);
  --app-base-yellow-hover: var(--app-yellow-5);
  --app-base-yellow-active: var(--app-yellow-3);
  --app-base-red-underlay: var(--app-red-0);
  --app-base-green-underlay: var(--app-green-0);
  --app-base-accent-underlay: var(--app-blue-0);
  --app-base-yellow-underlay: var(--app-yellow-0);
  --app-icons-secondary: var(--app-gray-5);
  --app-icons-secondary-hover: var(--app-gray-6);
  --app-icons-secondary-active: var(--app-gray-4);
  --app-icons-marker-1: var(--app-gray-1);
  --app-icons-marker-2: var(--app-dark-gray-3);
  --app-icons-primary: var(--app-blue-6);
  --app-icons-primary-hover: var(--app-blue-5);
  --app-icons-primary-active: var(--app-blue-4);
  --app-icons-positive: var(--app-green-6);
  --app-icons-positive-hover: var(--app-green-5);
  --app-icons-positive-active: var(--app-green-4);
  --app-icons-negative: var(--app-red-6);
  --app-icons-negative-hover: var(--app-red-5);
  --app-icons-negative-active: var(--app-red-4);
  --app-icons-warning: var(--app-yellow-5);
  --app-candle-body-positive: var(--app-green-2);
  --app-candle-wick-positive: var(--app-green-4);
  --app-candle-body-negative: var(--app-red-2);
  --app-candle-wick-negative: var(--app-red-4);
  --app-table-base-0: var(--app-dark-gray-3);
  --app-table-base-1: var(--app-dark-gray-4);
  --app-table-header: var(--app-dark-gray-5);
  --app-table-header-divider: var(--app-gray-1);
  --app-table-base-active: var(--app-dark-gray-6);
  --app-table-base-hover: var(--app-dark-gray-6);
  --app-input-bg: var(--app-dark-gray-6);
  --app-input-active-bg: var(--app-dark-gray-3);
  --app-input-hover-bg: var(--app-gray-0);
  --app-disabled-opacity: 0.56;
  --app-hover-opacity: 0.4;
  --app-active-opacity: 0.1;
  --app-disabled-active-opacity: 0.3;
  --app-text-selection-opacity: 0.45;
  --app-elevation-shadow-1: 0 0 0 1px rgba(var(--app-black),0.12);
  --app-elevation-shadow-2: 0 0 8px rgba(var(--app-black),0.24);
  --app-elevation-shadow-3: 0 4px 16px rgba(var(--app-black),0.24);
  --app-elevation-shadow-4: 0 8px 32px rgba(var(--app-black),0.24)
}